<ion-view view-title="Home">
    <ion-content style="background: #cecece">
        <div class="row">
            <div class="col col-50 home-container text-center" ng-class="{'flash-color-o':!flash,'flash-color':flash}"
                 ng-click="doFlash()">
                <i class="fa fa-bolt fa-3x white-text"></i>
                <p class="white-text">Flashlight</p>
            </div>
            <div class="col col-50 home-container text-center default-color"
                 ng-click="location()">
                <i class="fa fa-map fa-3x white-text"></i>
                <p class="white-text">Geolocation</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-50 home-container text-center default-color"
                 ng-click="vibration()">
                <img class="fa" src="img/vibration.png" style="max-height: 50px">
                <p class="white-text"><s>Vibrate</s></p>
            </div>
            <div class="col col-50 home-container text-center default-color"
                 ng-click="doOrientation()">
                <i class="ion ion-android-phone-landscape fa-3x white-text" ng-hide="orientation"></i>
                <i class="ion ion-android-phone-portrait fa-3x white-text" ng-show="orientation"></i>
            </div>
        </div>
        <div class="row">
            <div class="col col-50 home-container text-center battery-color"
                 ng-click="battery()">
                <i class="fa fa-battery fa-3x white-text"></i>
                <p class="white-text"><s>Battery Status</s></p>
            </div>
            <div class="col col-50 home-container text-center android-color"
                 ng-click="system()">
                <i class="fa fa-android fa-3x white-text"></i>
                <p class="white-text">System Info</p>
            </div>
        </div>
        <div class="bar bar-footer bar-balanced">
            <div class="title"> TEAM CHARAWATO</div>
        </div>
    </ion-content>
</ion-view>