<ion-view view-title="Settings">
    <ion-content style="background: #cecece">
        <ion-tabs class="tabs-calm tabs-icon-top">

            <ion-tab title="Home" icon-on="ion-home" icon-off="ion-ios-home-outline">
                <div class="list has-header">
                    <ion-scroll style="max-height: 510px">
                        <div class="item item-divider font-18">
                            Camera
                        </div>
                        <div class="item  item-toggle">
                            <span>Do you want save the Photos?</span>
                            <label class="toggle toggle-calm my-toggle">
                                <input type="checkbox" ng-model="savePhoto" class="btn-green">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                        <div class="item  item-toggle">
                            <span>Do you want edit the Photos?</span>
                            <label class="toggle toggle-calm my-toggle">
                                <input type="checkbox" ng-model="editPhoto" class="btn-green">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                        <div class="item item-divider font-18">
                            Gallery
                        </div>
                        <div class="item  item-toggle">
                            <span>Do you want select multiple Photos?</span>
                            <label class="toggle toggle-calm my-toggle">
                                <input type="checkbox" ng-model="multiplePhotos" class="btn-green">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label font-16 font-bold" style="min-width: 100%;">How many photos (1 - 10)</span>
                            <input type="number" placeholder="How many photos?" min="1" max="10" 
                                   ng-model="manyPhotos">
                        </label>
                        <div class="item item-divider font-18">
                            Vibration
                        </div>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label font-16 font-bold" style="min-width: 100%;">Duration (seg)</span>
                            <input type="number" placeholder="duration" min="1" max="10" 
                                   ng-model="vibrationDuration">
                        </label>
                        <div class="item item-divider font-18">
                            Audio
                        </div>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label font-16 font-bold" style="min-width: 100%;">Limit (times)</span>
                            <input type="number" placeholder="duration" min="1" max="10" 
                                   ng-model="audioLimit">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label font-16 font-bold" style="min-width: 100%;">Duration (seg)</span>
                            <input type="number" placeholder="duration" min="1" max="10" 
                                   ng-model="audioDuration">
                        </label>
                        <div class="item item-divider font-18">
                            Capture
                        </div>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label font-16 font-bold" style="min-width: 100%;">Limit (times)</span>
                            <input type="number" placeholder="duration" min="1" max="10" 
                                   ng-model="captureLimit">
                        </label>
                    </ion-scroll>
                </div>
                <div class="bar bar-footer bar-balanced">
                    <div class="title"> TEAM CHARAWATO</div>
                </div>
            </ion-tab>

            <ion-tab title="Components" icon-on="ion-ios-pie" icon-off="ion-ios-pie-outline">
                <div class="list has-header">
                    <ion-scroll style="max-height: 510px">
                        <div class="item item-divider font-18">
                            Multi Checks
                        </div>
                        <!--                        <ion-toggle ng-model="delete">
                                                    Show Delete?
                                                </ion-toggle>
                                                <ion-toggle ng-model="move">
                                                    Move?
                                                </ion-toggle>-->
                        <ion-list show-delete="delete" show-reorder="move" can-swipe="true">
                            <ion-item ng-show="configlocation.list.length===0">
                                Lista vacia
                            </ion-item>
                            <ion-item ng-repeat="item in configlocation.list track by $index">
                                {{item.name}}
                                <ion-delete-button class="ion-minus-circled" style="padding: 0px; box-shadow: 0 0px 0px 0 rgba(0,0,0,.16),0 0px 0px 0 rgba(0,0,0,.12)"
                                                   ng-click="deleteItem($index)">
                                </ion-delete-button>
                                <ion-reorder-button class="ion-navicon"
                                                    on-reorder="moveItem(item, $fromIndex, $toIndex)">
                                </ion-reorder-button>
                            </ion-item>
                        </ion-list>
                        <div class="item item-divider font-18">
                            Drop Down
                        </div>
                        <ion-list show-delete="delete" show-reorder="move" can-swipe="true">
                            <ion-item ng-show="configLocationDown.list.length===0">
                                Lista vacia
                            </ion-item>
                            <ion-item ng-repeat="item in configLocationDown.list track by $index">
                                {{item.name}}
                                <ion-delete-button class="ion-minus-circled" style="padding: 0px; box-shadow: 0 0px 0px 0 rgba(0,0,0,.16),0 0px 0px 0 rgba(0,0,0,.12)"
                                                   ng-click="deleteItem2($index)">
                                </ion-delete-button>
                                <ion-reorder-button class="ion-navicon"
                                                    on-reorder="moveItem2(item, $fromIndex, $toIndex)">
                                </ion-reorder-button>
                            </ion-item>
                        </ion-list>
                        <div class="item item-divider font-18">
                            My-Stars
                        </div>
                        <ion-list>
                            <ion-item>
                                <label class="item-input item-stacked-label">
                                    <span class="input-label">Initial Value</span>
                                    <input type="number" placeholder="0" ng-model="valueStars">
                                </label>
                            </ion-item>
                            <ion-item>
                                <label class="item-input item-stacked-label">
                                    <span class="input-label">Color</span>
                                    <input type="color" placeholder="#000" ng-model="configStars.color">
                                </label>
                            </ion-item>
                            <ion-item>
                                    <ion-radio ng-model="configStars.type" ng-value="'input'">type input</ion-radio>
                                    <ion-radio ng-model="configStars.type" ng-value="'show'">type show</ion-radio>
                            </ion-item>
                        </ion-list>
                    </ion-scroll>
                </div>
                <!-- Tab 2 content -->
            </ion-tab>

            <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
                <!-- Tab 3 content -->
            </ion-tab>

        </ion-tabs>
    </ion-content>
</ion-view>